.footer {
    text-align: center;
}

.social-item {
    margin: 10px;
    font-weight: bold;
}

.rounded-button {
    border-radius: 25px;
    padding: 10px 20px;
}

.rounded-button:hover {
    background-color: aliceblue;
}


a{
    text-decoration: none;
}