<div class="home">
  <span>
    <img src="/content/images/get-it-on-google-play.png"
      (click)="openLink('https://play.google.com/store/apps/details?id=com.hoangdp.heodat&hl=vi')" />
  </span>
  <button style="border-radius: 25px; padding: 25px;" (click)="openLink('http://data.hoangdp.com/heodat/heodat-3.10.4-beta.apk')">
    <img src="/content/images/logo-android.png" width="50" />
    <table style="display: inline;">
      <tr>Tải xuống ngay với tệp APK</tr>
      <tr>120MB</tr>
    </table>
  </button>
</div>